<head>
  <meta charset="utf-8"/>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>Chico ACM Club Programming Challenges</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Chico ACM Club Programming Challenges">
  <meta name="author" content="Eddie Bracho">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('home') }}">
        <span class="glyphicon glyphicon-home"></span>
      </a>
      <ul class="nav navbar-nav navbar-left">
        <li><a class="nav-item nav-link" href="{{ url_for('problem_form') }}">Create Problem</a></li>
      </ul>
      {% if 'logged_in_user' in session %}
      <form class="navbar-form navbar-right" action="{{ url_for('logout') }}" method="post">
        <button class="btn btn-inverted" type="submit">Logout</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Logged in as <a class="navbar-link" href="{{ url_for('view_user', user_id=session['logged_in_user']) }}">{{ session['logged_in_user'] }}</a></p></li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ url_for('login', redirect_url=request.url) }}">Login with GitHub</a>
        </li>
        <li>
          <img style="margin-top: 8px" src="/static/images/GitHub-Mark-Light-32px.png"></img>
        </li>
      </ul>>
      {% endif %}
      </ul>>
    </div>
  </nav>

  <div class="container">
    {% block body %}
    {% endblock %}
  </div>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
    crossorigin="anonymous">

  <!-- JQuery Minified -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
    crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    crossorigin="anonymous"></script>

</body>
