{% extends "base.html" %}

{% block body %}


<h2>{{ problem.title }}</h2>
<p>{{ problem.prompt }}</p>
<br/>
<h3>Your Solution</h3>
<form action="{{ url_for('create_solution', problem_id=problem.id) }}" method="post" enctype="multipart/form-data" >
  <div>
    <input type="file" id="source-file" name="source-file" />
  </div>
  <div>
    <select name="language" id="language">
    {% for language in supported_languages %}
      <option value="{{ language }}">{{ language }}</option>
    {% endfor %}
    </select>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="error-messages">
    {% for message in messages %}
      <li class="error">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% endblock %}

