{% extends "base.html" %}

{% block body %}


<div id=problem-info>
  {% if problem.user_id == session.get('logged_in_user', None) %}
  <div class="pull-right">
    <form action="{{ url_for('delete_problem', problem_id=problem.id) }}" method="post">
      <button class="btn btn-danger" type="submit">Delete Problem</button>
    </form>
  </div>
  {% endif %}
  <h2>{{ problem.title }}</h2>
  <p>Created By: <a href="{{ url_for('view_user', user_id=problem.user_id) }}">{{ problem.user_id }}</a></p>
  <p>Submission Time: <em>{{ problem.submission_time | datetime }}</em></p>
  <h3>Prompt</h3>
  <div class="well">
    <p>{{ problem.prompt | markdown(no_html=True) }}</p>
  </div>
</div>

<div id="solutions-container">
  <a class="btn btn-primary pull-right" href="{{ url_for('create_solution', problem_id=problem.id) }}">Submit Solution</a>
  <h3>Solutions</h3>
  <div class="list-group">
    {% for solution in solutions %}
    <a class="list-group-item" href="{{ url_for('view_solution', problem_id=problem.id, solution_id=solution.id) }}">{{ solution.language }} | {{ solution.user_id }}</a>
    {% else %}
    <li>No solutions found</li>
    {% endfor %}
  </div>
</div>

<hr/>

<div id="comment-box">
  <h3>Comments</h3>
  {% for comment in comments %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="{{ url_for('view_user', user_id=comment.user_id) }}">{{ comment.user_id }}</a> - <em>{{ comment.submission_time | datetime }}</em>
      {% if session['logged_in_user'] == comment.user_id %}
      <span class="pull-right">
        <button class="btn btn-danger" data-toggle="modal" data-target=".delete-comment-{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span></button>
      </span>
      {% endif %}
    </div>
    <div class="panel-body">
      {{ comment.body | markdown(no_html=True) }}
    </div>
  </div>
  <div class="modal fade delete-comment-{{ comment.id }}" tab-index="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <p>Are you sure?</p>
        <form action="{{ url_for('delete_problem_comment', comment_id=comment.id) }}" method="post">
          <button class="btn btn-default" type="submit">Delete Comment</button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
    <p>No comments found<p>
  {% endfor %}

  {% if 'logged_in_user' in session %}
  <form action="{{ url_for('create_problem_comment', problem_id=problem.id) }}" method="post" >
    <div class="form-group">
      <label for="body">Write a comment.</label>
      <textarea class="form-control" name="body" id="body" rows="4" cols="50"></textarea>
      <small class="form-text pull-right"><a data-toggle="collapse" href="#formatting-help">formatting help</a></small>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  <div class="collapse" id="formatting-help">
    <div class="col-md-7">
      <table class="table">
        <thead>
          <tr>
            <th><strong>Markdown</strong></th>
            <th><strong>Output</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>**text**</td>
            <td><strong>text</strong></td>
          </tr>
          <tr>
            <td>*text*</td>
            <td><em>text</em></td>
          </tr>
          <tr>
            <td>~~text~~</td>
            <td><strike>text</strike></td>
          </tr>
          <tr>
            <td>[link](https://www.google.com)</td>
            <td><a href="https://www.google.com">link</a></td>
          </tr>
          <tr>
            <td>`inline code`</td>
            <td><code>inline code</code></td>
          </tr>
          <tr>
            <td>![gentoo](http://i.imgur.com/vl3r2bo.png)</td>
            <td><img src="http://i.imgur.com/vl3r2bo.png" alt="gentoo"></img></td>
          </tr>
          <tr>
            <td>
              <p>
                * red<br/>
                * green<br/>
                * blue<br/>
              </p>
            <td>
              <ul>
                <li>red</li>
                <li>green</li>
                <li>blue</li></ul>
              </ul>
            </td>
          <tr>
            <td>
              <p>
                1 red<br/>
                2 green<br/>
                3 blue<br/>
              </p>
            <td>
              <ol>
                <li>red</li>
                <li>green</li>
                <li>blue</li></ul>
              </ol>
            </td>
          </tr>
          <tr>
            <td>> Quoted Text</td>
            <td><q>Quoted Text</q></td>
          </tr>
          <tr>
            <td>
              <p>
                # Header 1<br/>
                ## Header 2<br/>
                ### Header 3<br/>
                #### Header 4<br/>
                ##### Header 5<br/>
                ###### Headter 6<br/>
              </p>
            </td>
            <td>
              <h1>Header 1</h1>
              <h2>Header 2</h2>
              <h3>Header 3</h3>
              <h4>Header 4</h4>
              <h5>Header 5</h5>
              <h6>Header 6</h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% else %}
  <p><a href="{{ url_for('login', next=request.url) }}">Login</a> to submit a comment</p>
  {% endif %}
</div>


{% endblock %}
