{% extends "base.html" %}

{% block body %}


<h2>{{ problem.title }}</h2>
<p>Created By: <a href="{{ url_for('view_user', user_id=problem.user_id) }}">{{ problem.user_id }}</a></p>
<p>Submission Time: <em>{{ problem.submission_time | datetime }}</em></p>
<h3>Prompt</h3>
<div class="prompt">
    <p>{{ problem.prompt | markdown(no_html=True) }}</p>
</div>

<div>
  <h3><a href="{{ url_for('create_solution', problem_id=problem.id) }}">Submit Solution</a></h3>
</div>

<hr/>

<div>
  <h3>Solutions</h3>
  <ul>
  {% for solution in solutions %}
    <li><a href="{{ url_for('view_solution', problem_id=problem.id, solution_id=solution.id) }}">{{ solution.user_id }} - {{ solution.language }}</a></li>
  {% else %}
    <li>No solutions found</li>
  {% endfor %}
  </ul>
</div>

<hr/>

<div>
  <h3>Comments</h3>
  {% for comment in comments %}
    <div class="comment">
      <a href="{{ url_for('view_user', user_id=comment.user_id) }}">{{ comment.user_id }}</a> - <em>{{ comment.submission_time | datetime }}</em>
      {{ comment.body | markdown(no_html=True) }}
      {% if session['logged_in_user'] == comment.user_id %}
        <form action="{{ url_for('delete_problem_comment', comment_id=comment.id) }}" method="post"><button type="submit">Delete</button></form>
      {% endif %}
    </div>
  {% else %}
  {% endfor %}
</div>

<div>
  {% if 'logged_in_user' in session %}
    <h3>Submit Comment</h3>
    <form action="{{ url_for('create_problem_comment', problem_id=problem.id) }}" method="post" >
      <textarea name="body" rows="4" cols="50"></textarea>
      <button type="submit">Submit</button>
    </form>
  {% else %}
    <p><a href="{{ url_for('login', next=request.url) }}">Login</a> to submit a comment</p>
  {% endif %}
</div>


{% endblock %}
