{% extends "base.html" %}

{% block content %}

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>


	<div id="solution"></div>


	<script type="text/babel" src="{{url_for('frontend.static', filename='solution.js')}}"></script>
	<script type="text/babel">
		ReactDOM.render(
			React.createElement(Riker.Solution, {problemId: {{problem_id}}, solutionId: {{solution_id}}}),
			document.getElementById('solution')
		);
	</script>

{% endblock %}

